<section id="contact" class="section">
    <div class="container contact-container">
        <h2 class="section-title">Get In Touch</h2>
        <div class="contact-details">
            <p>Interested in working together? Let's connect!</p>
            <div class="social-links">
                <a href="https://github.com/gomsugaetant" target="_blank" aria-label="GitHub"><img
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub"
                        class="icon-social"></a>
                <a href="https://linkedin.com/in/gomsugaetant" target="_blank" aria-label="LinkedIn"><img
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
                        alt="LinkedIn" class="icon-social"></a>
                <a href="https://twitter.com/gomsugaetant" target="_blank" aria-label="Twitter"><img
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/twitter/twitter-original.svg"
                        alt="Twitter" class="icon-social"></a>
                <a href="mailto:contact@example.com" aria-label="Email"><img
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg" alt="Email"
                        class="icon-social"></a>
            </div>
        </div>
    </div>
</section>