<header class="header">
    <div class="container nav-container">
        <div class="logo">GOMSU GAETANT</div>
        <nav>
            <ul class="nav-links" :class="{ active: isMenuOpen }">
                <li><router-link to="/" @click="closeMenu">Home</router-link></li>
                <li><router-link to="/about" @click="closeMenu">About</router-link></li>
                <li><router-link to="/parcours" @click="closeMenu">Parcours</router-link></li>
                <li><router-link to="/skills" @click="closeMenu">Skills</router-link></li>
                <li><router-link to="/projects" @click="closeMenu">Projects</router-link></li>
                <li><router-link to="/contact" @click="closeMenu">Contact</router-link></li>
            </ul>
        </nav>
        <div class="header-controls">
            <button class="theme-toggle" @click="toggleTheme">{{ themeIcon }}</button>
            <button class="menu-toggle" @click="toggleMenu">{{ menuIcon }}</button>
        </div>
    </div>
</header>