<header class="header">
    <div class="container nav-container">
        <div class="logo">GOMSU GAETANT</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#/">Home</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/parcours">Parcours</a></li>
                <li><a href="#/skills">Skills</a></li>
                <li><a href="#/projects">Projects</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </nav>
        <button class="theme-toggle" @click="toggleTheme">{{ themeIcon }}</button>
    </div>
</header>